@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
   color: rgb(var(--foreground-rgb));
   font-size: "18px";
   font-family: "Poppins", sans-serif;
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root {
   z-index: 1000000000 !important;
}

.bg-default-100 {
   background-color: white !important;
   outline-color: "#2424244" !important;
   outline-style: "solid" !important;
   outline-width: "0.5px" !important;
}

.bg-primary {
   background-color: #b4fe3a !important;
   color : black !important;
}
